.overview{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 3%;
  }
  
  .plantItem{
  padding: 2%;
  display: flex;
  flex-direction: column;
  border: 10px;
  margin: 120px 130px 130px 130px;
  z-index: 5;
  }
  
  figure{
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Mynerve', cursive;
  font-size: medium;
  font-weight: bolder;
  }
  
  .name-tag{
      transform: rotate(15deg);
      position: absolute;
      white-space: nowrap;
      left: 78.5px;
  }
  
  .tag-text{
    transform: rotate(15deg);
    position: absolute;
    white-space: nowrap;
    top: 3.75px;
    left: 98.5px;
    border-style: solid;
    border-width: 2px;
    border-color: #e17d8a;
    background-color: white;
    border-radius: 8px;
  }
  
  .tag-text span {
    padding: 8px;
    font-size: 17px;
    text-align: center;
  }
  
  .pot-image{
    scale: 145%;
    filter: drop-shadow(5px 2px 2px rgba(13, 37, 6, 0.405));
    position: absolute;
    top: -32px;
    left: 0
  }
  
  .book-shelf{
    filter: drop-shadow(0px 5px 5px rgba(13, 37, 6, 0.25));
    position: absolute;
    top:150px;
    left: 0px;
    width:150px;
    height:7.5px;
    border:3px solid #c09f81;
    border-radius:6px;
    background-color:#e0b289;
  }
  
  .tag-text-fot{
   position: absolute;
    top:165px;
    white-space: nowrap;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    left: 25px;
  }
  
  .event{
  padding-top: 2%;
  }
  
  .bg-image { 
    position: sticky;
    width: 100%;
    background-image: url(/images/planks.jpg);
    background-size: 60% 60%;
    background-repeat: repeat;
    height: 100vh;
    z-index: -2;
  }

  .spade-dropdown{
    z-index: 10;
  }

  .div-water {
    pointer-events: none;
    cursor: pointer;

  }

.water-effect{
  cursor: pointer;
  animation-name: tilt;
  animation-duration: 1300ms;
  animation-timing-function: linear;
}

.bg-image {
    position: sticky;
    width: 100%;
    background-image: url(/images/planks.jpg);
    background-size: 100% 100%;
    background-repeat: repeat;
    height: 100vh;
    z-index: -2;
}

@keyframes tilt {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-36deg);
  }
}

.bag-effect{
  animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}

.pot-effect {
  bottom: 88%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 7s;
}
@-webkit-keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }

}