
body{
background-color: blanchedalmond;
margin-top: 0;
margin-left: 0;
margin-right: 0;

}

.tasks{
display: flex;
justify-content: space-evenly;

}

.task{
border: 1px solid;
    border-radius: 4px;
    padding: 5px;
display: flex;
flex-direction: column;
border: 10px;
margin-right: 25px;
margin-top: 25px;


}

.text-head{
font-family: 'Times New Roman', Times, serif;
color: black;
font-weight: bold;
text-align: center;

}
.text-foot{
font-family: 'Times New Roman', Times, serif;
color: black;
text-align: center;

}

img pots {
    width: 160px;
    height: 160px;
}
