.overview{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-right: 3%;
}

.plantItem{
padding: 2%;
display: flex;
flex-direction: column;
border: 10px;
margin: 120px 130px 130px 130px;
}

figure{
position: relative;
top: 0;
left: 0;
font-family: 'Mynerve', cursive;
font-size: medium;
font-weight: bolder;
}

.name-tag{
position: absolute;
top:0px;
left:75px;
transform: rotate(15deg);
}

.tag-text{
transform: rotate(15deg);
position: absolute;
white-space: nowrap;
top:3.75px;
left: 98.5px;
}

.pot-image{
 position: absolute;
 top:0px;
 left: 0;
}

.book-shelf{
position: absolute;
top:150px;
left: 0px;
width:150px;
height:7.5px;
border:3px solid #c09f81;
border-radius:6px;
background-color:#e0b289;
}

.tag-text-fot{
 position: absolute;
  top:165px;
  white-space: nowrap;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  left: 25px;
}

.event{
padding-top: 2%;
}

