img.navbar-logo {
    border: none; /* overrides the border styling for the navbar logo */
    padding: 5px;
    /*width: 100px;*/
    height: 100px;
}

.dropdown-item{
white-space: nowrap;
}

.nav-link{
left: 20px;}


.navbar-text {
padding-right: 1rem;

}

