<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Plantify your plant</h1>

<a th:href="@{/plant/1}">Plant</a>

<!--<form th:object="${plant}" action="/save" method="POST">
    Title: <input type="text" th:field="*{name}"/>
    Author: <input type="text" th:field="*{species}"/>
    Price: <input type="text" th:field="*{price}"/>
    <input type="hidden" th:if="${book.id != null}" th:field="*{id}"/>
    <input type="submit" value="Save item">
</form>-->

</body>
</html>