<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>The Garden</h1>

<div>
    <p th:text="'Hi ' + ${admin.firstName} + ' ' + ${admin.lastName} + '!'"></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    </div>



        <a th:href="@{/add}">New Plant</a>

<div class="tasks">
    <article th:each="plant : ${admin.plant}" class="">

        <tr>
            <th th:text="${plant.plantName}"></th>
            <a th:href="@{/plant/1}"> <img src="images/t1.png" width=100px height=100px></a>
        </tr>
    </article>

</div>





</body>
</html>