<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>New plant</h1>
<h1 th:text="${admin}"></h1>

<form th:object="${plant}" action="/save" method="POST">
    <input type="text" th:name="admin" th:value="${userId}" hidden>
  Name: <input type="text" th:field="*{plantName}"/>
  <label>Choose a plant:</label>
  <select  th:field="*{species}">
    <option th:value="1">strawberries</option>
    <option th:value="2">Pappers</option>
  </select>

  <input type="submit" value="Save item">
</form>


</body>
</html>